/*Шрифты________________________________________________________________________________________*/


@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('fonts/TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('fonts/TTLakes-Medium'),
        url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('fonts/TTLakesCompressed-Bold.eot');
    src: local('TT Lakes Compressed Bold'), local('fonts/TTLakesCompressed-Bold'),
        url('fonts/TTLakesCompressed-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakesCompressed-Bold.woff') format('woff'),
        url('fonts/TTLakesCompressed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*body______________________________________________*/

*{
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background: #f8f8f8 ;
    font-family: 'TT Lakes';
}

/*topmenu____________________________________________*/

.topmenu {
    display: flex;
    background-color: #FFFFFF;
    padding: 24px 0;
    justify-content: space-between;
}

.divider {
    display: none;
}

.topmenu__item768 {
    display: none;
}

.topmenu__start {
    display: flex;
    align-items:center;
    gap: 20px;
    margin-left: 16px;
    margin-right: 20px;
}

.topmenu__end {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}


/*title________________________________________________________________________*/

.title {
    display: flex;
    justify-content: space-between;
}

.title__button {
    display: none;
}

.title__link {
    text-decoration: none;
    color: #1B1C21;
    font-weight: 500;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    padding-left: 16px;
    border-left: 4px solid #41F6D7;
    margin: 24px 0;
    letter-spacing: -0.6px;
    border-radius: 2px;
}

.menu__btn {
    display: flex;
    overflow: scroll;
    align-items: center;
    height: 65px;
}

.menu__item {
    margin-left: 22px;
    padding: 8px 9px 8px 16px;
    font-size: 16px;
    white-space: nowrap;
    text-decoration: none;
    color: #7E7E82;
}
.menu__btn:first-child {
    margin-left: 16px;
}

.menu__item:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #FFFFFF;
}

/*content_________________________________________________________________________*/

.content {
    display: flex;
    flex-flow: column nowrap;
}

.content__img {
    order: 1;
    margin-top: 16px;
    border-radius: 5px;
}

.content__text {
    margin: 24px 16px 16px 16px;
    height: 110px;
    overflow-y: scroll;
    letter-spacing: 0.2px;
}

.content__btn {
    margin-left: 24px;
}

.content__link {
    font-weight: 500;
    margin-left: 16px;
}

.content p {
    margin: 15px;
}

@media (min-width:768px) and (max-width:1199px) {
    .divider {
        display: inline-block;
    } 
    .topmenu__item768 {
        display: inline-block;
    }


    .content {
        display: flex;
        flex-flow: row nowrap;
    }
    .content__text {
        margin: 24px 48px 10px 24px;
        height: 110px;
        overflow-y: scroll;
    }
    .content__btn {
        margin-left: 33px;
    }
}

@media (min-width:1200px) {
    .topmenu {
        display: none;
    }

    .title__button {
        display: flex;
        align-items: center;
    }

    .title__link {
        margin-right: 8px;
    }

    .title__icon {
        margin-right: 32px;
    }

    .menu__btn {
        display: flex;
        flex-flow: row wrap;
        overflow: visible;
    }

    .content {
        display: flex;
        flex-flow: row nowrap;
    }

    .content__text {
        overflow: visible;
    }

    .content__img {
        width: 538px;
        height: 384px;
        margin: 24px 16px 16px 16px;
    }

    .content__btn {
        margin: 30px 0 0 40px;
    }

}