html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*Шрифты и body________________________________________________________________________________________*/


@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('fonts/TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('fonts/TTLakes-Medium'),
        url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('fonts/TTLakesCompressed-Bold.eot');
    src: local('TT Lakes Compressed Bold'), local('fonts/TTLakesCompressed-Bold'),
        url('fonts/TTLakesCompressed-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakesCompressed-Bold.woff') format('woff'),
        url('fonts/TTLakesCompressed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body{
    min-width: 320px;
    max-width: 1120px;
    margin: 0 0 0 0;
    background: #f8f8f8 ;
    font-family: 'TT Lakes';
    width: 100%;
}


/* sidemenu______________________________________________________________________________________________*/


.sidemenu__link{
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    justify-content: space-between;
    margin: 2% 0 0 2%;
    overflow: scroll;
}

.sidemenu__item {
    font-size: 16px;
    padding: 9px 22px 7px 22px;
    letter-spacing: -0.2px;
    background-color: #f8f8f8FF;
    color: #7E7E82;
    border: 0;
    white-space: nowrap;
    text-decoration: none;
}

.sidemenu__item:hover{
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}


/*topmenu________________________________________________________________________________________*/

.topmenu__icon {
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    justify-content: space-around;
    padding-bottom: 24px;
    padding-top: 24px;
    gap: 20px;
}

.burger {
    margin-left: 16px;
}

.checkstatus {
    margin-right: 16px;
}

.divider1 {
    display: none;
}

.call {
    display: none;
}

.chat {
    display: none;
}

.profile {
    display: none;
}


/* title__________________________________________________________________________________________________*/


.title {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.title__header {
    border-left: 3px solid #41F6D7;
    padding-left: 33px;
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -0.6px;
}

.title__button {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
}

.title__icon{
    width: 40px;
    height: 40px;
    margin-right: 32px;
    display: none;
}

.title__link {
    font-weight: 500;
    padding-right: 8px;
    font-weight: 500;
    display: none;
    letter-spacing: -0.2px;
    text-decoration: none;
}

.title__link:visited {
    color: #1B1C21;
    ;
}


/*content________________________________________________________________________________________*/

.content {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.content__Glavph {
    width: 100%;
    height: 230px;
    border-radius: 5px;
    order: 1;
}

.content__iconstr {
    width: 15px;
    height: 15px;
    padding-top: 5px;
}

.content__text {
    margin: 0 5% 0 5%;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    text-align: left;
    margin-bottom: 3%;
} 

.content__link {
    margin: 15px 0 15px 0 ;
    font-weight: 500;
}

.content__more {
    display: flex;
}

.content__text2 {
    margin-top: 5%;
    display: none;
}

.content__text1 {
    align-self: flex-start;
    margin-bottom: 2%;
}

/*media_____________________________________________________________________________________*/


@media (min-width:768px) and (max-width:1199px)  {

    .call {
        display: inline-block;
    }
    
    .chat {
        display: inline-block;
    }
    
    .profile {
        display: inline-block;
    } 

    .divider1 {
        display: inline-block;
        margin: 5px;
    }

    .icongps {
        margin-right: 30%;
    }

    .content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    .content__Glavph {
        width: 360px;
        height: 260px;
        margin: 0 3% 0 0
    }

    .content__text {
        margin: 2% 5% 0 4%;

    }

    .content__iconstr {
        margin: 2% 0 0 0;
    }
    .content__text2 {
        display: block;
    }

    .content__link {
        margin: 0;
    }
    .content__over {
        height: 55%;
        overflow: hidden;
    }
}

@media (min-width:1120px) and (max-width:2000px)  {

    .topmenu__icon {
        display: none;
    }

    .content {
        display: flex;
        justify-content: center;
    }

    .content__Glavph {
        width: 532px;
        height: 284px;
    }

    .title__icon {
        display: inline-block;
    }

    .title__button a {
        display: inline-block;
    }

    .sidemenu__link {
        overflow: visible;
        flex-flow: row wrap;
    }

    .content__text2 {
        display: block;
        margin-bottom: 2%;
    }

    .content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    .content__link {
        margin: 0;
    }

    .content__iconstr {
        margin: 0;
    }
    
}